#carruselDestacados .carousel-indicators [data-bs-target] {
  background-color: #D1342C;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  /* margin: 0 6px; */
  opacity: 0.7;
}

#carruselDestacados .carousel-indicators .active {
  opacity: 1;
  background-color: #F5C518;
  border: 3px solid #D1342C;
}

#carruselDestacados .carousel-control-prev-icon,
#carruselDestacados .carousel-control-next-icon {
  background-color: #D1342C;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 20px;
}

#carruselDestacados .carousel-control-prev:hover .carousel-control-prev-icon,
#carruselDestacados .carousel-control-next:hover .carousel-control-next-icon {
  background-color: #F5C518;
}

.text-carrusel {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}

