.footer-bg-color {
  background-color: #D1342C !important;
}

footer h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color:#FFCC33; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

footer h5{
 font-family: "Luckiest Guy", cursive;
 color:#FFCC33;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
 letter-spacing: 2px;
}

.p-fonts-footer{
  font-family: 'Oswald', sans-serif;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.social-icon:hover {
  transform: translateY(-5px) scale(1.15);
  background-color: var(--bs-warning);
  color: #000 !important;
  box-shadow: 0 10px 20px rgba(255, 193, 7, 0.4);
}

footer div ul li a {
  transition: color 0.3s;
  text-decoration: none ;
  font-family: "Architects Daughter", cursive;
}

footer div ul li a:hover {
  transition: color 0.3s;
  text-decoration: underline !important;
}
