.bg-menu { 
  background-color: #F6F1E9 !important; 
}

.text-menu { 
  color: #D1342C !important; 
  font-family:  'Permanent Marker', sans-serif;
}

.btn-rojo {
  background-color: #D1342C !important;
  color: white !important;
  border: none !important;
}
.btn-rojo:hover {
  background-color: #b02a24 !important;
  transform: translateY(-2px);
}

.active-item,
.nav-link.active-item {
  color: #D1342C !important;
  background-color: rgba(209, 52, 44, 0.15) !important;
  border-radius: 50px;
  font-weight: bold !important;
}



.navbar-nav .nav-link:hover {
  color: #D1342C !important;
  background-color: rgba(209, 52, 44, 0.1);
  border-radius: 30px;
  padding: 0.5rem 1rem !important;
 }

.logo-navbar {
  height: 90px;
  transition: transform 0.3s ease;
}
.logo-navbar:hover {
  transform: scale(1.08);
}

.badge-carrito {
  position: absolute;
  top: -8px;
  right: -10px;
  background:#FFCC33; 
  font-weight: bold;
  font-size: 0.85rem;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F6F1E9;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}



/*--------------------Responsive------------------------*/

@media (min-width: 992px) {
  .navbar-nav {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    text-align: right;
  }
  .navbar-nav .nav-link {
    padding: 0.8rem 1.2rem !important;
  }
}


